<main class="login margintop iphone main-content">
    <section>
        <h3><b>Connect</b> with your email or username</h3>
        <form class="name_send" method="post" ng-submit="signIn(loginUser)">
            <input type="email" class="input-text input-block" ng-model="loginUser.email"
                   value="" placeholder="Email or username" required/>
            <input type="password" class="input-text input-block" ng-model="loginUser.password"
                   value="" placeholder="Password" required/>

            <button type="submit" class="button button-valid button-block submit">Sign in</button>

        </form>
        <a class="forgot-pwd" ng-click="rememberMyPassword()">Forget your <b>password?</b></a>



    </section>
</main>
